{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <h6 id= watchlist_counter>{{count}}</h6>
    {% endif %}
    
    <ul class="categories">
        <a href="listings/FASHION"><h4><li>Fashion</li></h4></a>
        <a href="listings/TOYS"><h4><li>Toys</li></h4></a>
        <a href="listings/ELECTRONICS"><h4><li>Electronics</li></h4></a>
        <a href="listings/HOME"><h4><li>Home</li></h4></a>
        <a href="listings/SPORTS"><h4><li>Sports</li></h4></a>
        <a href="listings/PETS"><h4><li>Pets</li></h4></a>

    </ul>
    {{categories}}

{% endblock %}